body {
    background-color: greenyellow;
    margin: 50px;
}

h1 {
    color: red;
    font-size: xx-large;
}

h2 {
    color: blue;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    font-size: xx-large;
}

p {
    color: chocolate;
    font-size: x-large;
}

nav a {
    font-size: xx-large;
}

article a {
    font-size: xx-large;
}