body {
    background-color: darkgoldenrod;
    margin: 50px;
}

h1 {
    color: silver;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    font-size: xx-large;
}

p {
    color: silver;
    font-size: x-large;
}

nav a {
    font-size: xx-large;
}

img {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
}